<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultbackend</key>
	<string>Generic</string>
	<key>backends</key>
	<dict>
		<key>Mitsubishi</key>
		<dict>
			<key>M50734</key>
			<string>it.frob.hopper.m740</string>
		</dict>
		<key>Generic</key>
		<dict>
			<key>6502</key>
			<string>it.frob.hopper.generic6502</string>
			<key>65C02</key>
			<string>it.frob.hopper.generic65c02</string>
		</dict>
		<key>HudsonSoft</key>
		<dict>
			<key>HuC6280</key>
			<string>it.frob.hopper.huc6280</string>
		</dict>
		<key>Rockwell</key>
		<dict>
			<key>R6500</key>
			<string>it.frob.hopper.r6500</string>
			<key>R65C02</key>
			<string>it.frob.hopper.r65c02</string>
			<key>R65C19</key>
			<string>it.frob.hopper.r65c19</string>
			<key>R65C29</key>
			<string>it.frob.hopper.r65c29</string>
		</dict>
		<key>Sunplus</key>
		<dict>
			<key>65N02</key>
			<string>it.frob.hopper.65N02</string>
			<key>65R02</key>
			<string>it.frob.hopper.65R02</string>
			<key>65S02</key>
			<string>it.frob.hopper.65S02</string>
			<key>SunPlus</key>
			<string>it.frob.hopper.sunplus</string>
		</dict>
		<key>WDC</key>
		<dict>
			<key>W65C02S</key>
			<string>it.frob.hopper.w65c02s</string>
		</dict>
	</dict>
</dict>
</plist>
